@import '/styles/Variables.module.scss';

.seperator {
	display: flex;
	width: 1px;
	height: 100%;
	background-color: rgba(107, 121, 152, 0.5);
	margin: 0 30px;
}

.isMini {
	margin: 0 20px;

	@media (max-width: $breakpoint-sm) {
	margin: 0 5px;
	}
}
