$color-whitish: #f7f6f6;
$color-gray-dark: #808285;
$color-gray: #666768;
$color-grayish: #bfbcb9;
$color-text: #6b7998;
$color-blue: #4361ee;
$color-blue-light: #4362eea9;

$scrollbar-color: #d4dae6;